[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-size: 1em;
    margin: auto;
}

html {
    height: 100%;
}

body {
    margin: 8px;
    height: 100%;
}

#main-view {
    height: 100%;
}

.look-from-fit-text{
    min-width: 100px;
}

.scene-node{
    display: flex;
    flex-direction: column;
    margin-top: 8px;
}

.node-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
}

#scene-tab{
    background-color: currentColor;
}

.flaticon-keyboard-right-arrow-button {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 8px;
}

.flaticon-expand-button{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 8px;
}

.modal-content{
    width: 100%;
}

.node-name{
    width: 100%;
    margin-left: 12px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.node-childrens{
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}

.node-btn-wrapper{
    min-width: 85px;
    display: flex;
    justify-content: flex-end;
}

.hidden{
    display: none;
}

.selected>.node-info>.node-name{
    color: lightseagreen;
}

#show-histogram{
    margin-left: 8px;
}

#histogram {
    width: 100%;
    display:flex;
    justify-content: center;
  }
  canvas {
    padding: 0;
    margin: 0;
  }
  svg {
    position: absolute;
    top: 0;
    bottom: 0;
  }
  .brush .extent {
    fill-opacity: .3;
    shape-rendering: crispEdges;
  }
  .resize rect {
    visibility: visible !important;
    fill: #333;
    fill-opacity: .8;
    stroke: #555;
    stroke-width: 1.5px;
  }
  .histo {
    fill-opacity: .4;
    stroke-width: 2;
  }

  .form-row {
      margin-top: 12px;
  }

  .form-section {
      border-top: 1px solid silver;
      border-radius: 2px;
      padding: 16px 4px 0 4px;
      margin-top: 12px;
  }
  
  .main-form-section {
    border: 1px solid silver;
    border-radius: 2px;
    padding: 8px;
    margin-top: 12px;
}